
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
/* :root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #1E1E1E;
}
.container{
  margin-left: 50px !important;
}
a {
  color: inherit;
  text-decoration: #F7941D;
}



@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.speed-tv-form  {
  padding-bottom: 13px;
}

.speed-tv-form label {
  position: absolute;
  top: -22px;
  padding-top: 30px;
  color: #2F2F2F;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.4375em;
  letter-spacing: 0.00938em;
  padding: 0;
  position: relative;
  display: block;
  transform-origin: top left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: calc(100% - 24px);
  position: absolute;
  left: 0px;
  transform: none;
    -webkit-transition: none;
    transition: none;
    z-index: 1;
    pointer-events: none;
}

 .my-button-class{
    display: inline-flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: 'Poppins' !important;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0;
    border: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
    border-radius: 125px;
    text-decoration: none;
    color: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.75;
    letter-spacing: 0.02857em;
    min-width: 64px;
    padding: 6px 16px;
    -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    color: #fff;
/*  */
    height: 59px;
    background: #F7941D;
    box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
    width: 100%;
    margin-top: 24px;
    margin-bottom: 16px;
  }
  
 

.speed-form{
    background-color: #000;
    color: #fff;
  }

  .speed-auth-bg{
   background-color: #fff;
   align-items: center;
   margin-top: 3rem;
   padding: 60px 36px 36px;
   width: 80%;
   border-radius: 9px;
   color: #000;
  }

  .speed-auth-typo{
    text-align: center;
    padding-bottom: 2rem;
    font-size: 24px;
    font-weight: 700;
  }

  .speed-auth-resetpassword{
    padding-bottom: 3rem;
   }
  .speed-auth-resetpassword h5 {
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 1.3rem;
    font-family: 'Poppins';
  }
  .speed-auth-resetpassword img{
    padding-top: 0rem;
    width: 100px;
    height: 120px;
   }
   .speed-auth-bg a .fgt-pwd {
    text-decoration-color: #F7941D !important;
   }

   .css-101ca9i-MuiTypography-root-MuiLink-root {
    margin: 0;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.43;
    letter-spacing: 0.01071em;
    color: #F7941D;
    -webkit-text-decoration: underline;
    text-decoration: underline;
    text-decoration-color: #F7941D !important;
}
.checked {
  color: #F7941D !important;
  position: relative;
  left: 10px;
  top:-3px;
  border-radius: none !important;
}
.frm-ctl{
  align-items: center;
  margin-right: 1rem;
}
.frm-ctl h2{
  font-size: 15px;
  font-family: 'Poppins';
}
  /*  navigation css */
 
  .bg-color{
    background-color: #2F2F2F !important; 
  }
  .primary-color{
    color: #F7941D !important;
  }
  .text-color{
    color: rgba(255, 255, 255, 0.4) !important;
  }
  .red{
    background-color: #3e8e41;
  }
  .fs-xsmall{
    font-size: 12px !important;
    
  }
  .fs-small{
    font-size: 14px !important;
    font-weight: 600 !important;
    color: #F7941D;
  }
  .fs-medium{
    font-size: 19px !important;
  }
  .fs-large{
    font-size: 25px !important;
  }
  .fs-xlarge{
    font-size: 30px !important;
  }
  .text-grey{
    color: rgba(255, 255, 255, 0.65) !important;
  }
  .notification-img{
    cursor: pointer;
  }

/* movies-empty page */

.movies-empty{
  background-color: #1E1E1E;
}
.btnn{
  display: inline-flex;
  align-items: center;
  font-family: 'Poppins' !important;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  cursor: pointer;
  border-radius: 50px;
  text-decoration: none;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.02857em;
  min-width: 50px;
  padding: 10px;
  color: #fff;
  height: 43px;
  background: #F7941D !important;
  width: 30%;
}

/* my movies */

.my-movies{
  background-color: #1E1E1E;
}
/* Form{
  width: 50%;
} */
.search-icon{
  margin: 12px 20px;
  position: absolute;
  width: 19px;
}
.upload-icon{
  margin: 7px;
  width: 20px;
  cursor: pointer;
}

.search-btn{
  background-color: transparent;
  border: none;
  margin-left: 25px;
  cursor: pointer;
  text-decoration: underline;
}
.search-btn:hover{
  background-color: none !important;
}
Form ::placeholder{
  padding: 7px;
  font-size: 14px;
  font-weight: 500;
}
Input{
  padding: 10px;
  background-color: #ffff;
  border-radius: 8px;
  border: none;
  width: 23%;
  color: #000;
}
.input{
  padding-left: 43px;
}
.movie-container{
  max-width: 92%;
}
.movies-imgbx{
  padding: 8px;
}
.movies-btn{
  background-color: #2F2F2F;
  margin: 7px 9px;
  font-size: 12px;
  border-radius: 5px;
  cursor: pointer;

}
.movies-txtx h6{
  font-size: 13px;
  margin: 9px;
}
.sign-icons{
  font-size: 11px;
  font-weight: 700;
}
.sign-icons a{
  text-decoration: none !important;
  color: #F7941D;
}
.sign-icons img{
  margin-bottom: 3px;
  width: 35px;
  padding: 8px;
  cursor: pointer;
}
/* upload modal */
h6{
  font-weight: bolder;
}


.my-button-modal{
  display: inline-flex;
  align-items: center;
  font-family: 'Poppins' !important;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  background-color: transparent;
  cursor: pointer;
  border-radius: 5px;
  border: 0.99px dashed #F7941D !important;
  font-size: 16px;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  min-width: 64px;
  padding: 6px 10px;
  color: #F7941D;
  height: 40px;
  width: 100%;
  margin-top: 24px;
  margin-bottom: 16px;
}
.my-button-modal2{
  display: inline-flex;
  align-items: center;
  font-family: 'Poppins' !important;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  background-color: #F7941D;
  cursor: pointer;
  border-radius: 125px;
  border: none;
  font-size: 16px;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  min-width: 64px;
  padding: 6px 10px;
  color: #ffff;
  height: 40px;
  width: 100%;
  margin-top: 24px;
  margin-bottom: 16px;
}


.side-modal .mantine-1fholi4 {
  margin-left: 0px !important;
  margin-right: 0 !important;
}

.mantine-g7194:hover{
  background: none !important;
}

.upload-icon:hover{
  background: none !important;
}

/* Hero modal */

.hero-modal-text{
  position: absolute;
  top: 230px;
  z-index: 9999;
  /* display: flex; */
 /* justify-content: center; */
}

/* User */
.user{
  padding: 40px;
  color: #fff;
  background-color: #1E1E1E;
}
.my-button-modal3{
  display: inline-flex;
  align-items: center;
  font-family: 'Poppins' !important;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  background-color: #F7941D;
  cursor: pointer;
  border-radius: 125px;
  border: none;
  font-size: 6px;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  padding: 6px 10px;
  color: #ffff;
  height: 38px;
  width: 15%;
}
.admin{
  justify-content: space-between;
  width: 100%;
}

.modal-header .btn-close {
   padding: calc(var(--bs-modal-header-padding-y) * 0.5) calc(var(--bs-modal-header-padding-x) * 0.5);
    margin-right: auto;
    position: absolute !important;
}
.modal-header {
   display: flex; 
   flex-shrink: 0; 
   align-items: center;
  justify-content: space-between; 
  padding: var(--bs-modal-header-padding);
  border-bottom: none !important; 
  border-top-left-radius: var(--bs-modal-inner-border-radius);
  border-top-right-radius: var(--bs-modal-inner-border-radius); 
  padding-bottom: 1rem;
}

.modal-title { 
  margin-bottom: 0; 
  line-height: var(--bs-modal-title-line-height); 
  position: relative !important; 
  left: 10rem !important; 
}